{% extends 'layout.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        {% if category %}
            {% for c in category %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + c.image)}}" alt="{c.name}}" class="card-img-top" height="200">
                    <div class="card-body"></div>
                        <h5 class="text-center">{{c.name}}</h5>
                        <p class="text-center">Price: Rs {{c.price}}</p>
                    <div class="card-footer">
                        <a href="{{url_for('single_page', id=c.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                        <a href="#" class="float-right btn btn-sm btn-warning">Add to Cart</a>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% for product in products %}
            <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/' + product.image)}}" alt="{{product.name}}" class="card-img-top" height="200">
                    <div class="card-body"></div>
                        <h5 class="text-center">{{product.name}}</h5>
                        <p class="text-center">Price: Rs {{product.price}}</p>
                    <div class="card-footer">
                        <a href="{{url_for('single_page', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                        <a href="#" class="float-right btn btn-sm btn-warning">Add to Cart</a>
                      
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container" mt-5>
    <div class="row">
        <div class="col-md-6 mt-3" id="b_image">
            <img src="{{url_for('static', filename='images/' + product.image )}}" alt="{{product.name}}" height="400" width="400">
        </div>
        <div class="col-md-6 mt-3">
            
            <h4> Product name: {{product.name}}</h4>
            <hr>
            <p>Product price: {{product.price}}</p>
            <b>Product Description</b>
            <p>{{product.desc}}</p>
            <form action="{{url_for('AddCart')}}" method="POST">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>
                <label for="">Quantity:</label>
                <input type="number" name="quantity" id="" value="1" max="{{product.stock}}">
                <input type="hidden" name="check_route" value="true">
                <input type="hidden" name="stock" value="{{product.stock}}">
        
            </form>
            <p>Note: There are only {{product.stock}} units of this product in stock.</p>
        </div>
    </div>
</div>






{% endblock content %}